$color-white: #fff;
$color-black: #000;
$color-primary: #e89f71;
$color-ligth-bg: #f4f5f7;
$color-greed-accents: #2ec1ac;
$color-red-accents: #e97171;
$color-gray-1: #3a3a3a; // h1-h6, logo and footer heading navigation
$color-gray-2: #616161;
$color-gray-3: #898989;
$color-gray-4: #b0b0b0;
$color-gray-5: #d8d8d8;

$color-bg-1: #f9f1e7;
$color-bg-2: #fcf8f3;
