html,
body {
    height: 100%;
    font-family: Gilroy;
    font-weight: 500;
    font-style: normal;
    line-height: 150%;
    background-color: $color-white;
    font-size: 16px;
    color: $color-gray-2;
}

span,
p {
    font-family: Gilroy;
    font-weight: 500;
    font-style: normal;
    line-height: 150%;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-gray-1;
    font-family: Gilroy;
    line-height: 120%;
    font-weight: bold;
    font-style: normal;
    margin: 0;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

h4 {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
}

h5 {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
}
